@charset "UTF-8";
/* basic stepup and reusable components */
:root {
    --color-main: #34c85b;
    --bg: #f5f5f5;
    --main-accent: #e9eefd;
    --main-text: #000000;
    --shadow: rgba(17, 17, 26, 0.1) 2px 2px 16px;
    --btn-bg: #737373;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 18px;
    background: #e4e4e4;
    overflow-x: hidden;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    font-size: 0%;
}

.container {
    width: 98%;
    margin: 1rem auto;
}

.header-title {
    color: var(--main-text);
    font-weight: 600;
    margin-bottom: 1rem;
}

.delete-btn {
    display: inline;
}

.btn {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: var(--main-accent);
}

.btn-info {
    background-color: #6883db;
}

.btn-warning {
    background-color: #fd7e14;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-success {
    background-color: var(--color-main);
}

.btn-success:hover {
    background-color: #42af5f;
}

.icon-btn-info {
    color: #6883db;
}

.icon-btn-warning {
    color: #fd7e14;
}

.icon-btn-danger {
    color: #dc3545;
}

.icon-btn-warning,
.icon-btn-danger {
    border: none;
    background: none;
    cursor: pointer;
}

input[type="text"] {
    border: 2px solid var(--main-accent);
    padding: 0.5rem 0.7rem;
    border-radius: 7px;
}

input:focus::placeholder {
    color: transparent;
}
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* management */
.sidebar {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    float: left;
}

#menu-toggle {
    display: none;
}

.sidebar-container {
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 1.2rem;
}

.brand {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-avartar {
    display: grid;
    grid-template-columns: 70px auto;
    align-items: center;
    border: 2px solid var(--main-accent);
    padding: 0.5rem 0.7rem;
    border-radius: 7px;
    margin: 2.5rem 0rem;
}

.sidebar-avartar img {
    width: 60%;
    height: auto;
}

.avartar-text small {
    font-size: 0.7rem;
}

.sidebar-menu li {
    margin-bottom: 1rem;
}

.sidebar-menu a:link,
.sidebar-menu a:visited {
    color: var(--main-text);
    display: flex;
    flex-direction: row;
    padding: 1rem 0.5rem;
}

.sidebar-menu a:active,
.sidebar-menu a:hover {
    background: var(--btn-bg);
    border-radius: 10px;
    color: var(--color-main);
}

.icon-small {
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    color: var(--main-text);
}

.sidebar-menu a:active .icon-small,
.sidebar-menu a:hover .icon-small {
    color: var(--color-main);
}

.sidebar-card {
    background: var(--bg);
    box-shadow: var(--shadow);
    text-align: center;
    padding: 1.5rem 1rem;
    border-radius: 7px;
    margin-top: 3rem;
}

.sidebar-card img {
    width: 50%;
    height: auto;
    float: right;
}

.main-container {
    width: 75%;
    height: 100%;
    float: right;
}

.main-content {
    width: 100%;
    height: auto;
    padding: 1.2rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: var(--shadow);
    overflow-y: auto;
}

.header-title-container {
    display: flex;
    align-items: center;
}

.header-title-container label {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.5rem;
    color: var(--color-main);
}

main {
    padding-top: 2.5rem;
}

.analytics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0rem 2.5rem;
}

.analytic-card {
    box-shadow: var(--shadow);
    padding: 0.8rem;
    border-radius: 10px;
    display: flex;
    padding-left: 2rem;
}

.analytic-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-right: 0.8rem;
}

.icon-first {
    background: #dce5ff;
    color: #6883db;
}

.icon-sec {
    background: #ebf7f5;
    color: #db2727;
}

.icon-third {
    background: #dce5ff;
    color: #2ec3a3;
}

.icon-fourth {
    background: var(--main-accent);
    color: var(--color-main);
}

.analytic-info small {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 0.8rem;
}

.analytic-info h2 {
    color: var(--main-text);
    font-weight: 600;
}

.table-container {
    margin: 2.5rem auto;
}

.users-table,
.posts-table,
.cate-table {
    margin: 1.5rem auto;
    height: 250px;
    overflow-y: scroll;
}

table {
    font-size: 0.9rem;
    text-align: center;
}

thead {
    margin-bottom: 0.5rem;
}

th {
    padding: 0 0.5rem;
}

td {
    padding: 1.2rem 0.5rem;
    border-bottom: 1px solid #2ec3a3;
}

.new-cate {
    float: right;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: var(--bg);
    width: 500px;
    height: auto;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #dc3545;
    color: var(--main-accent);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}
