@charset "utf-8";

body {
    background-color:  #E4E4E4;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;   
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.main-container {
    width: 90%;
    margin: 1.5% auto;
}