@charset "utf-8";
#sign-in {
    padding-top: 8%;
}

.container {
    width: 60%;
    margin: 0 auto;
    background-color: #e4e4e4;
    padding: 3% 0%;
}

body {
    height: 100%;
    background-color: #f5f5f5;
}

.round-btn {
    display: inline-block;
    height: 1.5625em;
    width: 1.5625em;
    border-radius: 50%;
    border: 1px solid #000;
    text-align: center;
    margin-right: 5%;
}

.round-btn i {
    font-size: 1rem;
    text-align: center;
    margin: auto;
}

.login-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0% 10%;
}

.content-sec {
    width: 50%;
    margin: 0% auto;
}

.img-sec {
    text-align: right;
    margin-left: 10%;
    width: 40%;
}

.signin-bannar {
    width: 100%;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.ttl {
    font-weight: bold;
    margin-top: 0.625em;
}

.forgot-text {
    margin-top: 0.625em;
}

.link-text {
    color: #587fff;
    text-decoration: none;
    font-weight: bold;
}

.link-text:hover {
    opacity: 50%;
}

.center {
    text-align: center;
}

.btn {
    background-color: #34c85b;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: #fff;
}

.btn:hover {
    background-color: #42af5f;
}


/**Ipad**/

@media screen and (min-width: 641px) and (max-width: 1040px) {
    html {
        font-size: clamp(10px, 1.346vw, 14px);
    }
    .container {
        width: 70%;
    }
}


/**Sp**/

@media screen and (max-width: 640px) {
    html {
        font-size: clamp(9px, 2.5vw, 12px);
    }
    .container {
        width: 70%;
    }
    .content-sec {
        width: 100%;
    }
    .img-sec,
    .signin-bannar {
        display: none;
    }
}