#nav-bar {
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 10000;
}

.nav-wrapper {
    margin: 0 auto;
    width: 90%;
}

.nav-menu-btn {
    display: none;
}

.nav-wrapper h1 {
    display: inline-block;
    margin: 0.25em 0;
    flex: 1 1 10%;
}

a {
    display: inline-block;
    text-decoration: none !important;
}

a:hover {
    opacity: 0.6;
}

.nav-list {
    display: flex;
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.search-container {
    display: inline-block;
    margin: auto;
    text-align: center;
    flex: 1 1 50%;
}

.search {
    padding: 0.75em;
    width: 80%;
    color: #ffffff;
    background-color: #737373;
    border: none;
    border-radius: 5px;
}

.search::placeholder {
    color: #ffffff;
}

.search-ico {
    position: relative;
    z-index: 5;
    color: #ffffff;
    margin-left: -1.8em;
}

.nav-before-login {
    display: block;
    flex: 1 1 20%;
    text-align: right;
    margin: auto;
}

.nav-btn {
    padding: 0.5em 0;
    width: 40%;
    margin: auto 0 auto 1em;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.nav-btn:first-of-type {
    margin-left: 0;
}

.btn-success {
    color: #ffffff;
    background-color: #34c85b;
    border: 1px solid #34c85b;
}

.btn-success:hover {
    background-color: #42af5f;
    border-color: #42af5f;
    opacity: 1;
}

.btn-outline-secondary {
    color: #707070;
    border: 1px solid #707070;
}

.nav-dropdown {
    display: block;
    flex: 1 1 20%;
    text-align: right;
    margin: auto;
}

.profile-ico {
    width: 2.6em;
    height: 2.6em;
    border-radius: 100%;
    cursor: pointer;
}

.nav-selected {
    box-shadow: 0px 0px 8px 8px rgba(0, 255, 0, 0.4);
}

.nav-dropdown-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    margin-top: 0.75em;
    outline: none !important;
}

.profile-dropdown-content {
    display: none;
    position: absolute;
    margin-top: 0.5em;
    right: 4.7%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    min-width: 160px;
    text-align: left;
}

.profile-dropdown-content a {
    color: #000000;
    padding: 0.75em;
    text-decoration: none;
    display: block;
}

.profile-dropdown-content a:hover {
    background-color: #f1f1f1;
    opacity: 1;
}


/*  Ipad  */

@media screen and (min-width: 641px) and (max-width: 1040px) {
    .nav-wrapper {
        width: 95%;
    }
    .profile-dropdown-content {
        min-width: 100px;
        margin-top: 1em;
        right: 2%;
    }
    .nav-wrapper h1 img {
        width: clamp(76px,11.538vw,120px);
    }
}


/*  SP  */

@media screen and (max-width: 640px) {
    .nav-wrapper {
        width: 96%;
    }
    .profile-dropdown-content {
        position: fixed;
        display: block;
        top: 4.5em;
        right: -500px;
        width: 30%;
        background-color: rgba(0, 0, 0, 0.85);
        border-radius: 6px;
    }
    .profile-dropdown-content a {
        color: #ffffff;
        padding: 1.5em;
        text-decoration: none;
        display: block;
    }
    .profile-dropdown-content a:hover {
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 1;
    }
    .nav-wrapper h1 {
        flex: 1 1 40%;
        text-align: center;
    }
    .nav-wrapper h1 img {
        width: 80px;
    }
    .search-container {
        display: none;
    }
    .nav-before-login {
        flex: 1 1 30%;
    }
    .nav-dropdown {
        flex: 1 1 30%;
    }
    .nav-menu-btn {
        display: inline-block;
        cursor: pointer;
        transition: all 400ms;
        -webkit-transition: all 400ms;
        flex: 1 1 30%;
        margin: auto;
    }
    .nav-menu-btn span {
        display: block;
        width: 22px;
        border-top: 3px solid #000000;
        border-radius: 5px;
        transition: all 400ms;
        -webkit-transition: all 400ms;
        margin-bottom: 3px;
    }
    .nav-menu-btn span:last-of-type {
        margin-bottom: 0;
    }
    .nav-menu-btn span:nth-of-type(1) {
        animation: menu-bar01 0.5s forwards;
    }
    @keyframes menu-bar01 {
        0% {
            transform: translateY(6px) rotate(-45deg);
        }
        100% {
            transform: translateY(0) rotate(0);
        }
    }
    .nav-menu-btn span:nth-of-type(2) {
        animation: menu-bar02 0.5s forwards;
    }
    @keyframes menu-bar02 {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .nav-menu-btn span:nth-of-type(3) {
        animation: menu-bar03 0.5s forwards;
    }
    @keyframes menu-bar03 {
        0% {
            transform: translateY(-6px) rotate(45deg);
        }
        100% {
            transform: translateY(0) rotate(0);
        }
    }
    .nav-menu-btn::after {
        position: absolute;
        display: block;
        content: "";
        width: 21px;
        height: 21px;
        margin-top: -16px;
        border-radius: 50%;
        border: 1px solid rgba(0, 255, 0, 0.4);
        transition: all 0.1s;
        opacity: 0;
    }
    .nav-menu-btn.menu-active::after {
        animation: circle 0.5s;
    }
    @keyframes circle {
        0% {
            transform: scale(0.1);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: scale(2.8);
            opacity: 0;
        }
    }
    .nav-menu-btn.menu-active span:nth-of-type(1) {
        animation: active-menu-bar01 0.5s 0.5s forwards;
    }
    @keyframes active-menu-bar01 {
        0% {
            transform: translateY(0) rotate(0);
        }
        100% {
            transform: translateY(6px) rotate(-45deg);
        }
    }
    .nav-menu-btn.menu-active span:nth-of-type(2) {
        animation: active-menu-bar02 0.5s 0.5s forwards;
    }
    @keyframes active-menu-bar02 {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    .nav-menu-btn.menu-active span:nth-of-type(3) {
        animation: active-menu-bar03 0.5s 0.5s forwards;
    }
    @keyframes active-menu-bar03 {
        0% {
            transform: translateY(0) rotate(0);
        }
        100% {
            transform: translateY(-6px) rotate(45deg);
        }
    }
}