.search-error-container,
.search-title-container {
    background-color: #f5f5f5;
    margin: 0 0 1% auto;
    width: 99%;
    border-radius: 10px;
    padding: 1em;
    box-shadow: rgba(17, 17, 26, 0.1) 2px 2px 16px;
}

.search-title-container h2 {
    font-size: 1.35rem;
}

.search-title-container span {
    color: #737373;
}

.search-error-container h2 {
    font-size: 1.2rem;
    color: #c62828;
}