.sidebar-container {
    background-color: #f5f5f5;
    width: 22%;
    height: 100%;
    color: #000000;
    border-radius: 10px;
    float: left;
    box-shadow: rgba(17, 17, 26, 0.1) 2px 2px 16px;
}
.sidebar-items {
    padding: 2% 0%;
    border-bottom: 1px solid;
    color: #000000;
}
.sidebar-items:hover{
    opacity: 1;
    color: #000000;
}
.sidebar-items span,
.sidebar-categories span {
    padding: 2% 15% 2% 4%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
.sidebar-items span:hover {
    background-color: #707070;
    color: #34c85b;
    border-radius: 12px;
    opacity: 1;
}
.sidebar-categories span:hover {
    background-color: #707070;
    color: #34c85b;
    border-radius: 12px;
    opacity: 1;
}
.sidebar-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.sidebar-title {
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}
.sidebar-categories {
    padding: 2% 0%;
}
.categories-item {
    padding: 3.5% 9%;
    border-radius: 12px;
    display: flex;
    font-size: 1.05rem;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.categories-item:hover {
    color: #34c85b !important;
    background-color: #707070;
    opacity: 1;
}
.active {
    color: #34c85b;
    background-color: #8b8b8b;
    border-radius: 12px;
}
.categories-item h4 {
    font-weight: 500;
    font-size: 0.9375rem;
}
.menu-items {
    display: none;
}
.menu-items span {
    margin: 0% 5%;
}
.menu-title {
    font-size: 0.9375rem;
    font-weight: 400;
}
.menu-icon {
    width: 15%;
}
.icon {
    font-size: 1.75rem;
    width: 35%;
}

.categories-container {
    padding-top: 7%;
    display: none;
}

.add {
    color: #34c85b;
}
.add:hover {
    color: #000;
}
.show {
    display: block;
}
