@charset "UTF-8";

/* basic stepup and reusable components */
:root {
    --color-main: #34c85b;
    --bg: #f5f5f5;
    --main-accent: #e9eefd;
    --main-text: #000000;
    --shadow: rgba(17, 17, 26, 0.1) 2px 2px 16px;
    --main-bg: #e4e4e4;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 18px;
    background: var(--main-bg);
    overflow-x: hidden;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    font-size: 0%;
}

.container {
    width: 98%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
}

.header-title {
    color: var(--main-text);
    font-weight: 600;
}

.table-header .header-title {
    margin-bottom: 1.5rem;
}

/* button group */
.delete-btn {
    display: inline;
}

.btn {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: var(--main-accent);
}

.btn-info {
    background-color: #6883db;
    padding: 0.8rem 1.2rem;
}

.btn-warning {
    background-color: #fd7e14;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-success {
    background-color: var(--color-main);
}
.btn-info:hover {
    background-color: #5369b3;
    box-shadow: var(--shadow);
}

.btn-success:hover {
    background-color: #42af5f;
    box-shadow: var(--shadow);
}

.icon-btn-info {
    color: #6883db;
}

.icon-btn-warning {
    color: #fd7e14;
}

.icon-btn-danger {
    color: #dc3545;
}

.icon-btn-warning,
.icon-btn-danger {
    border: none;
    background: none;
    cursor: pointer;
}

input[type="text"] {
    border: 2px solid var(--main-accent);
    padding: 0.5rem 0.7rem;
    border-radius: 7px;
}

input:focus::placeholder {
    color: transparent;
}

.export-btn {
    float: right;
    margin-bottom: 0.5rem;
}

/* aside components */

.sidebar {
    width: 25%;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0rem 1rem;
    transition: left 300ms;
}

.sidebar-container {
    height: 100%;
    width: 100%;
    background: var(--bg);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 1.2rem;
}

.brand {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-avartar {
    display: grid;
    grid-template-columns: 70px auto;
    align-items: center;
    border: 2px solid var(--color-main);
    padding: 0.5rem 0.7rem;
    border-radius: 7px;
    margin: 2.5rem 0rem;
}

.sidebar-avartar #admin-profile img {
    width: 60%;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--color-main);
}

.avartar-text small {
    font-size: 0.7rem;
}

.sidebar-menu li {
    margin-bottom: 1rem;
}

.sidebar-menu #menuBtn {
    color: var(--main-text);
    display: flex;
    flex-direction: row;
    padding: 1rem 0.5rem;
}

.icon-small {
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    color: var(--main-text);
}

.active {
    color: var(--color-main);
    background: var(--main-bg);
    border-radius: 10px;
    margin-left: 0.5rem;
}

.sidebar-menu #menuBtn:hover {
    background: var(--main-bg);
    border-radius: 10px;
    color: var(--color-main);
    margin-left: 0.5rem;
}

.sidebar-menu .active .icon-small,
.sidebar-menu .active span,
.sidebar-menu #menuBtn:hover .icon-small {
    color: var(--color-main);
}

/* main container */
.main-container {
    width: 75%;
    height: 100%;
    transition: margin-left 300ms;
}

.main-content {
    width: 100%;
    height: auto;
    padding: 1.2rem;
    background: var(--bg);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.header-title-container {
    display: flex;
    align-items: center;
}

.header-title-container .header-icon {
    display: block;
    margin-right: 1rem;
    font-size: 1.5rem;
    color: var(--color-main);
}

main {
    padding-top: 2.5rem;
}

/* analytics card components */

.analytics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0rem 2rem;
}

.analytic-card {
    box-shadow: var(--shadow);
    padding: 1.2rem 0.5rem;
    border-radius: 10px;
    display: flex;
    padding-left: 2rem;
}

.analytic-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.analytic-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-right: 0.8rem;
}

.icon-first {
    background: #dce5ff;
    color: #34495e;
}

.icon-sec {
    background: #bdc3c7;
    color: #8e44ad;
}

.icon-third {
    background: #ecf0f1;
    color: #d35400;
}

.icon-fourth {
    background: var(--main-accent);
    color: var(--color-main);
}

.analytic-info small {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 0.8rem;
}

.analytic-info h2 {
    color: var(--main-text);
    font-weight: 600;
}

/* table components */

.table-container {
    margin: 2.5rem auto 3.5rem;
}

.posts-table,
.cate-table {
    margin: 1.2rem auto;
    height: 250px;
    overflow-y: scroll;
}
.posts-table::-webkit-scrollbar,
.cate-table::-webkit-scrollbar,
.users-list::-webkit-scrollbar {
    width: 0.5rem; /* width of the entire scrollbar */
}

.posts-table::-webkit-scrollbar-thumb,
.cate-table::-webkit-scrollbar-thumb,
.users-list::-webkit-scrollbar-thumb {
    background-color: #74b9ff; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid var(--main-accent); /* creates padding around scroll thumb */
}

/* table components */

.styled-table {
    border-collapse: collapse;
    margin: 1rem auto 0rem;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.styled-table thead tr {
    background-color: var(--color-main);
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody {
    font-size: 0.8rem;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--color-main);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: var(--color-main);
}
