@charset "UTF-8";

/* responsive design for tablets and ipads between from 641px to 1040px */
@media screen and (min-width: 641px) and (max-width: 1040px) {
    /* reusable components */
    body {
        font-size: clamp(10px, 2.5vw, 16px);
    }

    main {
        padding-top: 5.208vw;
    }

    .header-title {
        font-size: 0.9rem;
    }

    .styled-table {
        font-size: 1.5vw;
    }

    .styled-table th,
    .styled-table td {
        padding: 1.563vw;
    }

    .styled-table tbody {
        font-size: 1.25vw;
    }

    .btn {
        padding: 0.5rem;
        font-size: 1.406vw;
    }

    /* aside components */
    .sidebar-container .brand {
        margin-bottom: 0px;
    }

    .sidebar-container .brand .logo img {
        width: 58%;
    }

    .sidebar-avartar {
        margin: 0rem auto 1.5rem;
        justify-content: center;
    }

    .sidebar-avartar #admin-profile img {
        width: 50%;
    }

    .avartar-text h4 {
        font-size: 1.5vw;
    }

    .avartar-text small {
        font-size: 1vw;
    }

    .sidebar-menu li {
        margin-bottom: 0.5rem;
    }

    .sidebar-menu #menuBtn,
    .sidebar-menu #menuBtn .icon-small {
        font-size: 1.5vw;
    }

    /* analytics dashboard screen components */
    .analytics {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem 2.5vw;
    }

    .analytic-icon {
        font-size: 0.8rem;
    }

    .analytic-info small {
        font-size: 0.7rem;
    }

    .analytic-info h2 {
        font-size: 0.8rem;
    }

    .popular-user-card .text img {
        height: 3rem;
    }

    .popular-user-card .text h3 {
        margin-bottom: 0px;
    }

    .popular-user-card .card-info {
        margin-top: 0.5rem;
    }

    .popular-user-card .card-info .analytic-info small {
        font-size: 1.25vw;
        margin-bottom: 1.302vw;
    }

    /* users management screen componets */
    .users-list {
        height: 13.75rem;
    }

    /* categories management screen componets */
    .popup .content {
        width: 300px;
    }
}

/* responsive design for small devices maximun 640px */
@media screen and (max-width: 640px) {
    /* Basic Setup and reusable components */
    body {
        font-size: clamp(9px, 2.5vw, 16px);
        overflow-y: auto;
    }

    .container {
        width: 98%;
        margin: 0.5rem auto;
        display: block;
    }

    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    .popup .overlay {
        background: rgba(255, 255, 255, 0.7);
    }

    .main-container {
        width: 100%;
        height: auto;
        position: relative;
    }

    .header-title {
        font-size: 1rem;
    }

    .header-title-container #menu-toggle {
        font-size: 0.9rem;
    }

    .analytics {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem 2.5vw;
        margin-bottom: 5vh;
    }

    .analytic-icon {
        width: 2.5rem;
        height: 2.5rem;
        margin: 3vw;
        font-size: 0.8rem;
    }

    .analytic-info small {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

    .table-header .header-title {
        margin-bottom: 3vh;
        text-align: center;
    }

    .styled-table {
        width: 90%;
    }

    .styled-table th,
    .styled-table td {
        padding: 1.563vw;
    }

    .styled-table thead,
    .styled-table tbody {
        font-size: 0.5rem;
    }

    .posts-table::-webkit-scrollbar,
    .cate-table::-webkit-scrollbar,
    .users-list::-webkit-scrollbar {
        width: 5px; /* width of the entire scrollbar */
        height: 5px; /* height of the entire scrollbar */
    }

    .posts-table::-webkit-scrollbar-thumb,
    .cate-table::-webkit-scrollbar-thumb,
    .users-list::-webkit-scrollbar-thumb {
        background-color: #74b9ff; /* color of the scroll thumb */
        border-radius: 0.5rem; /* roundness of the scroll thumb */
    }

    .btn {
        padding: 0.5rem;
        font-size: 1.875vw;
    }

    /* aside components */
    .sidebar {
        width: 45%;
        height: auto;
        top: 10px;
        left: -500px;
        bottom: 0;
        z-index: 100;
        position: fixed;
        transition: left 300ms;
    }

    .sidebar-container {
        height: auto;
        width: 100%;
    }

    .brand {
        margin: 20px auto;
    }

    .brand .logo img {
        width: 60%;
    }

    .sidebar-avartar {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .sidebar-avartar #admin-profile img {
        width: 55%;
        margin: 0 auto;
        display: block;
    }

    .sidebar-avartar .avartar-text h4 {
        font-size: 2.5vw;
    }

    .sidebar-avartar .avartar-text small {
        font-size: 1.875vw;
    }

    #sidebar-list .icon-small {
        font-size: 4vw;
    }

    /* analytics dashboard screen components */
    .analytic-sec {
        display: flex;
        margin: 4rem 0;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .chart {
        width: 100%;
    }

    #myChart {
        display: block;
        height: auto;
        width: 300px;
    }

    .chart .chart-ttl {
        margin: 2.25vw 0;
    }

    .popular-user-card {
        width: 75%;
        height: auto;
        margin: 0 auto;
        padding: 0 1.5rem 1.5rem;
    }

    .chart .chart-ttl,
    .popular-user-card .user-card-ttl {
        font-size: 1rem;
    }

    .popular-user-card .user-card-ttl {
        margin: 4vw 0 3.25vw;
    }

    .popular-user-card .text img {
        height: 4rem;
    }

    .popular-user-card .text h3 {
        font-size: 1rem;
    }

    .popular-user-card .text p {
        font-size: 0.8rem;
    }

    .popular-user-card .card-info .info-title {
        font-size: 0.9rem;
    }

    .popular-user-card .card-info .popular-icon {
        font-size: 1.2rem;
    }

    .popular-user-card .card-info .analytic-info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .popular-user-card .card-info .analytic-card {
        padding: 1.625vw 3vw;
    }

    .popular-user-card .card-info .analytic-info small {
        font-size: 0.9rem;
        margin-bottom: 0;
    }

    .popular-user-card .card-info .analytic-info h2,
    .popular-user-card .links a {
        font-size: 1rem;
    }

    .popular-user-card .links {
        width: 40%;
        margin: 1.5vw 0;
    }

    /* Users management screen components */
    .user-profile {
        padding: 2vw;
    }

    .user-profile img {
        width: 7vw;
        height: 7vw;
    }

    .user-profile .user-detail .username {
        font-size: 2.5vw;
    }

    .user-profile .user-detail .user-contact,
    .user-profile .user-detail .user-position,
    .user-profile .user-detail .dob,
    .user-profile .action .icon-btn-info,
    .user-profile .action .icon-btn-danger {
        font-size: 1.5vw;
    }

    /* Categories management screen components */
    .posts-table,
    .cate-table {
        height: 45vh;
    }
}
