@charset "UTF-8";

/* categories management */
.new-cate {
    float: right;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: var(--bg);
    width: 500px;
    height: auto;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.popup .header-title {
    margin-bottom: 1.5rem;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #dc3545;
    color: var(--main-accent);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.analytic-sec {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}
/* chart components */

.chart {
    background-color: var(--bg);
    box-shadow: var(--shadow);
    padding: 1.5rem;
    width: 65%;
    height: auto;
}

/* most popular user card components */
.popular-user-card {
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.popular-user-card .user-card-ttl {
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 1.5rem 0rem;
}

.popular-user-card .text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-user-card .text img {
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.popular-user-card .text h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.popular-user-card .text p {
    color: rgb(35, 182, 219);
    font-size: 0.8rem;
}

.popular-user-card .card-info {
    margin: 10px;
    width: 90%;
    font-size: 0.8rem;
    margin-top: 1rem;
}

.popular-user-card .card-info .info-title {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.popular-user-card .card-info .analytic-card {
    box-shadow: none;
    background-color: #ecf0f1;
    color: var(--main-text);
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
}

.popular-user-card .card-info .popular-icon {
    place-items: center;
    margin-right: 0.8rem;
    color: #74b9ff;
    font-size: 1.5rem;
}

.popular-user-card .links {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
}

.popular-user-card .links a {
    color: var(--color-main);
    font-size: 1.2rem;
    cursor: pointer;
}

.popular-user-card .links a:hover {
    color: rgb(29, 157, 189);
}

/* user management components */

.users-list {
    height: 310px;
    overflow-y: auto;
    margin-bottom: 1.8rem;
}

.user-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8rem;
    box-shadow: var(--shadow);
    width: 85%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.user-profile .user-info {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--main-accent);
}

.user-profile .user-detail .username {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.user-profile .user-detail .user-contact {
    color: #74b9ff;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.user-profile .user-detail .user-position,
.user-profile .user-detail .dob {
    font-size: 1rem;
    font-weight: 400px;
    margin-bottom: 0.5rem;
}

.user-profile .user-detail .links a {
    margin-right: 0.8rem;
    color: var(--color-main);
}

.user-profile .action .icon-btn-info,
.user-profile .action .icon-btn-danger {
    font-size: 0.8rem;
}

.deleteBtn {
    display: inline;
}

/* posts management components */

.posts-table .styled-table th,
.posts-table .styled-table td {
    width: 10rem;
    padding: 12px 0px;
}

/* categories management components */

#error-msg {
    font-size: 0.7rem;
    color: #dc3545;
    margin-bottom: 0.5rem;
}
