.postlist-container {
    width: 78%;
    color: #000000;
    float: right;
}

.post {
    background-color: #f5f5f5;
    margin: 0 auto 1% auto;
    width: 95%;
    border-radius: 10px;
    padding: 1em;
    box-shadow: rgba(17, 17, 26, 0.1) 2px 2px 16px;
}

.img-container {
    float: left;
    margin-right: 1%;
}

.postprofile-ico {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    vertical-align: middle;
}

.post-blog {
    max-width: 95%;
    float: left;
}

.post-username {
    font-size: 1rem;
    margin: 0.25em 0 0 0 !important;
}

.post-title {
    font-size: 1.5rem;
    color: #000000;
    display: block;
    margin: 0.25em 0 0.15em !important;
}

.post-title:hover {
    color: #000000;
}

.post-date {
    font-size: 0.8rem;
    color: #737373;
    margin: 0.25em 0 0 0 !important;
}

.post-category {
    font-size: 0.8rem;
    color: #737373;
    margin-right: 0.45em;
}

.post-category:hover {
    color: #34c85b;
}

.post-category:last-of-type {
    margin-right: 0;
}

.postbtn-container {
    text-align: right;
    margin-top: 1%;
}

.post-btn {
    display: inline-block;
    border: none;
    font-size: 1rem;
    color: #737373;
    background-color: transparent;
    text-decoration: none;
    margin-left: 5%;
}

.post-btn:hover {
    opacity: 0.75;
    color: #34c85b;
}

.post-liked {
    color: #34c85b;
}

.post-create-btn {
    position: fixed;
    right: 4%;
    bottom: 10%;
    font-size: 1.05rem;
    color: #f5f5f5 !important;
    background-color: #34c85b;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.75em 1.2em;
    z-index: 10;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

.post-create-btn:hover {
    opacity: 1;
    background-color: #42af5f;
}
