.recover-btn {
    position: absolute;
    font-size: 1.2rem;
    right: 5%;
    border: none;
    background: transparent;
    cursor: pointer;
}

.recover-post-dropdown-content {
    display: none;
    position: absolute;
    right: 5%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    text-align: left;
}

.recover-post-dropdown-content button {
    font-size: 0.8rem;
    color: #000000;
    padding: 0.75em;
    text-decoration: none;
    display: block;
    background-color: transparent;
    border: none;
}

.recover-post-dropdown-content button:hover {
    background-color: #f1f1f1;
    opacity: 1;
}